name: Discord PR Notification

on:
  pull_request:
    types: [opened] # プルリクエストが 'opened' (作成された) 状態になった時のみトリガー

jobs:
  send_notification:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord notification
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          thread-id: ${{ secrets.DISCORD_THREAD_ID }}
          content: |
            New Pull Request Created. (${{ github.event.pull_request.title }} by ${{ github.event.pull_request.user.login }})
            ${{ github.event.pull_request.html_url }}
